@model IEnumerable<LibreriaMVC.Models.Libros>

    @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Catalogos/_Catalogos.cshtml";
    }

    <h1 class="text-center">Libros</h1>

    <p>
        <a asp-action="Create" class="btn btn-success btn-lg float-left">
            <i class="fas fa-plus"></i>
            Nuevo Libro
        </a>
    </p>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Titulo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaPublicacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.autor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.editorial)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaPublicacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.autor.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.editorial.ID)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i>
                            Editar</a>
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info btn-sm">
                            <i class="fas fa-eye"></i>
                            Ver</a>
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i>
                            Eliminar</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>